In [1]:
import datetime, os

from PIL import Image as PILImage
from PIL import ImageGrab
from openpyxl import Workbook
from openpyxl.drawing.image import Image
from openpyxl.utils.dataframe import dataframe_to_rows

from journalfiles import JournalFiles
import pandas as pd
from structjour.pandasutil import DataFrameUtil, InputDataFrame

hello dataframe

In [2]:
from IPython.core.display import HTML
css = open('data/style-table.css').read() + open('data/style-notebook.css').read()
HTML('<style>{}</style>'.format(css))

In [3]:
# jf = JournalFiles(theDate=datetime.date(2018, 8,31), outdir = "out", mydevel=True)
jf = JournalFiles(indir='data', infile='TradesWithHolds.csv', outdir = "out", mydevel=True)

jf._printValues()

indir:              data
infile:             TradesWithHolds.csv
inpathfile:         data\TradesWithHolds.csv

outdir:             out
outfile:            Trades_Monday_0903.xlsx
outpathfile:        out\Trades_Monday_0903.xlsx
theDate:            Monday, September 03, 18

In [4]:
trades = pd.read_csv(jf.inpathfile)

idf = InputDataFrame()
idf

In [5]:
idf.reqCol

{'time': 'Time',
 'ticker': 'Symb',
 'side': 'Side',
 'price': 'Price',
 'shares': 'Qty',
 'acct': 'Account',
 'PL': 'P / L'}

In [6]:
reqCol = idf.reqCol.values()

DataFrameUtil.checkRequiredInputFields(trades, reqCol)

trades = idf.zeroPadTimeStr(trades)
trades = trades.sort_values(['Symb', 'Time'])
trades = idf.mkShortsNegative(trades)

got it

In [7]:
swingTrade = idf.getOvernightTrades(trades)
swingTrade

[{'ticker': 'IZEA', 'shares': 3923, 'before': 0, 'after': 0},
 {'ticker': 'MU', 'shares': -750, 'before': 0, 'after': 0}]

In [8]:
swingTrade = idf.figureOvernightTransactions(trades)

{'ticker': 'IZEA', 'shares': 3923, 'before': 0, 'after': 0}
There is an unbalanced amount of shares of IZEA in the amount of 3923
How many shares of IZEA are you holding now? (Enter for 3923)
That works.
{'ticker': 'MU', 'shares': -750, 'before': 0, 'after': 0}
There is an unbalanced amount of shares of MU in the amount of -750
How many shares of MU are you holding now? (Enter for -750)
That works.

In [9]:
listdf = idf.insertOvernightRow(trades, swingTrade)
listdf

Got IZEA with the balance 0, before 0 and after 3923
Are we good?
Got MU with the balance 0, before 0 and after -750
Are we good?

,Time,Symb,Side,Price,Qty,Route,Broker,Account,Type,Cloid,P / L,Unnamed: 11
0,09:44:54,IZEA,B,1.63,6016,SMRT,NaN,TRIB5621,Margin,AUTO,0,NaN
1,09:45:21,IZEA,B,1.59,1830,SMRT,NaN,TRIB5621,Margin,AUTO,0,NaN
2,09:47:48,IZEA,S,1.65,-3923,SMRT,NaN,TRIB5621,Margin,AUTO,115.06,NaN
3,23:59:59,IZEA,HOLD+,0,3923,,,ZeroSubstance,,,0,
4,09:35:33,MU,SS,45.77,-1000,SMRT,NaN,TRIB5621,Short,AUTO,0,NaN
5,09:36:02,MU,B,46,1000,SMRT,NaN,TRIB5621,Margin,AUTO,-230,NaN
6,09:37:48,MU,B,46.3,1000,SMRT,NaN,TRIB5621,Margin,AUTO,0,NaN
7,09:38:46,MU,S,46.44,-250,SMRT,NaN,TRIB5621,Margin,AUTO,35,NaN
8,09:41:12,MU,S,46.32,-750,SMRT,NaN,TRIB5621,Margin,AUTO,15,NaN
9,09:53:58,MU,SS,46.46,-479,SMRT,NaN,TRIB5621,Short,AUTO,0,NaN
10,09:59:45,MU,B,46.88,479,SMRT,NaN,TRIB5621,Margin,AUTO,-201.18,NaN
11,10:00:10,MU,B,46.94,313,SMRT,NaN,TRIB5621,Margin,AUTO,0,NaN
12,10:00:10,MU,B,46.94,250,SMRT,NaN,TRIB5621,Margin,AUTO,0,NaN
13,10:00:13,MU,B,46.92,200,SMRT,NaN,TRIB5621,Margin,AUTO,0,NaN
14,11:54:38,MU,S,47.15,-763,SMRT,NaN,TRIB5621,Margin,AUTO,164.23,NaN
15,15:11:28,MU,SS,47.18,-1050,SMRT,NaN,TRIB5621,Short,AUTO,0,NaN
16,15:44:39,MU,B,47.21,300,SMRT,NaN,TRIB5621,Margin,AUTO,-9,NaN
17,23:59:59,MU,HOLD-,0,-750,,,ZeroSubstance,,,0,
18,14:15:08,ROKU,B,55.58,265,SMRT,NaN,TRIB5621,Margin,AUTO,0,NaN
19,14:19:13,ROKU,S,55.46,-265,SMRT,NaN,TRIB5621,Margin,AUTO,-31.8,NaN
20,13:54:52,WMT,B,98.2,425,SMRT,NaN,TRIB5621,Margin,AUTO,0,NaN
21,13:56:01,WMT,S,98.01,-425,SMRT,NaN,TRIB5621,Margin,AUTO,-80.75,NaN

In [11]:
idf.finalReqCol

AttributeError: 'InputDataFrame' object has no attribute 'finalReqCol'

In [10]:
for l in idf.finalReqCol :
    if l not in listdf.columns :
        listdf[l] = ''
listdf

NameError: name 'finalReqCol' is not defined

In [ ]:
# trades.columns
newTrades = listdf[finalReqCol]
newTrades.copy()

In [ ]:
listdf = idf.insertOvernightRow(trades, swingTrade)

In [ ]:
listdf

In [ ]:
newTrades = listdf[finalReqCol]
newTrades

In [ ]:
newTrades.copy()