In [1]:
%matplotlib inline
import pandas as pd

In [2]:
from IPython.core.display import HTML
css = open('style-table.css').read() + open('style-notebook.css').read()
HTML('<style>{}</style>'.format(css))

In [3]:
trades = pd.read_csv('Trades.csv')
trades.head()

,Time,Symb,Side,Price,Qty,Route,Broker,Account,Type,Cloid,P / L,Unnamed: 11
0,09:43:10,MU,B,50.99,400,SMRT,NaN,TRIB5621,Margin,AUTO,0.00,NaN
1,09:36:04,SQ,S,74.60,244,SMRT,NaN,TRIB5621,Margin,AUTO,24.40,NaN
2,11:12:58,MU,B,50.86,500,SMRT,NaN,TRIB5621,Margin,AUTO,0.00,NaN
3,09:35:42,SQ,S,74.72,81,SMRT,NaN,TRIB5621,Margin,AUTO,17.82,NaN
4,11:08:10,SQ,S,74.56,500,SMRT,NaN,TRIB5621,Margin,AUTO,2.50,NaN

In [4]:
len(trades)

30

In [5]:
trades.sort_values('Time').head(10)

,Time,Symb,Side,Price,Qty,Route,Broker,Account,Type,Cloid,P / L,Unnamed: 11
6,09:35:32,SQ,B,74.50,325,SMRT,NaN,TRIB5621,Margin,AUTO,0.00,NaN
3,09:35:42,SQ,S,74.72,81,SMRT,NaN,TRIB5621,Margin,AUTO,17.82,NaN
1,09:36:04,SQ,S,74.60,244,SMRT,NaN,TRIB5621,Margin,AUTO,24.40,NaN
28,09:37:05,SQ,B,74.66,300,SMRT,NaN,TRIB5621,Margin,AUTO,0.00,NaN
26,09:37:36,SQ,S,74.77,75,SMRT,NaN,TRIB5621,Margin,AUTO,8.25,NaN
22,09:38:45,SQ,S,74.55,225,SMRT,NaN,TRIB5621,Margin,AUTO,-24.75,NaN
0,09:43:10,MU,B,50.99,400,SMRT,NaN,TRIB5621,Margin,AUTO,0.00,NaN
24,09:44:32,MU,S,50.85,400,SMRT,NaN,TRIB5621,Margin,AUTO,-56.00,NaN
23,09:45:07,SQ,SS,74.45,500,SMRT,NaN,TRIB5621,Short,AUTO,0.00,NaN
21,09:45:48,SQ,SS,74.26,125,SMRT,NaN,TRIB5621,Short,AUTO,0.00,NaN

In [6]:
lbls = ['Tindex', 'Start', 'Time', 'Symb', 'Side', 'Price', 'Qty','Balance', 'Account', "P / L", 'Sum', 'Duration', 'Name']

In [7]:
for l in lbls :
    if l not in trades.columns :
        trades[l] = ''
# trades.columns
newTrades = trades[lbls]
newTrades.copy()
newTrades.columns

Index(['Tindex', 'Start', 'Time', 'Symb', 'Side', 'Price', 'Qty', 'Balance',
       'Account', 'P / L', 'Sum', 'Duration', 'Name'],
      dtype='object')

In [8]:
nt = newTrades.sort_values(['Symb', 'Time'])
nt

,Tindex,Start,Time,Symb,Side,Price,Qty,Balance,Account,P / L,Sum,Duration,Name
0,,,09:43:10,MU,B,50.99,400,,TRIB5621,0.00,,,
24,,,09:44:32,MU,S,50.85,400,,TRIB5621,-56.00,,,
15,,,10:14:49,MU,B,50.44,500,,TRIB5621,0.00,,,
8,,,10:18:36,MU,S,50.34,500,,TRIB5621,-50.00,,,
2,,,11:12:58,MU,B,50.86,500,,TRIB5621,0.00,,,
25,,,11:21:36,MU,S,50.99,125,,TRIB5621,16.25,,,
13,,,11:33:42,MU,S,51.10,187,,TRIB5621,44.88,,,
7,,,11:39:27,MU,S,50.93,188,,TRIB5621,13.16,,,
6,,,09:35:32,SQ,B,74.50,325,,TRIB5621,0.00,,,
3,,,09:35:42,SQ,S,74.72,81,,TRIB5621,17.82,,,
1,,,09:36:04,SQ,S,74.60,244,,TRIB5621,24.40,,,
28,,,09:37:05,SQ,B,74.66,300,,TRIB5621,0.00,,,
26,,,09:37:36,SQ,S,74.77,75,,TRIB5621,8.25,,,
22,,,09:38:45,SQ,S,74.55,225,,TRIB5621,-24.75,,,
23,,,09:45:07,SQ,SS,74.45,500,,TRIB5621,0.00,,,
21,,,09:45:48,SQ,SS,74.26,125,,TRIB5621,0.00,,,
14,,,09:46:46,SQ,B,74.30,625,,TRIB5621,70.00,,,
18,,,10:03:51,SQ,B,74.23,200,,TRIB5621,0.00,,,
19,,,10:03:51,SQ,B,74.23,200,,TRIB5621,0.00,,,
16,,,10:04:28,SQ,B,74.04,200,,TRIB5621,0.00,,,
17,,,10:04:28,SQ,B,74.04,200,,TRIB5621,0.00,,,
9,,,10:06:04,SQ,S,74.08,400,,TRIB5621,-22.00,,,
27,,,10:10:54,SQ,S,74.14,400,,TRIB5621,2.00,,,
11,,,10:34:58,SQ,B,74.72,500,,TRIB5621,0.00,,,
12,,,10:57:57,SQ,B,74.39,500,,TRIB5621,0.00,,,
4,,,11:08:10,SQ,S,74.56,500,,TRIB5621,2.50,,,
20,,,11:28:42,SQ,S,74.64,500,,TRIB5621,42.50,,,
5,,,09:48:47,THST,B,2.88,300,,TRIB5621,0.00,,,
29,,,09:50:25,THST,S,3.02,75,,TRIB5621,10.50,,,
10,,,09:54:56,THST,SS,2.77,225,,TRIB5621,-24.75,,,

# Need some logic to figure overnight trades
### When the balance does not get to 0 on one or more stocks, Need to reset the next stock. The best time to check after the first sort and stocks are together by Account->Symb->Time

In [9]:
prevBal = 0
for i, row in nt.iterrows():
    if row['Side'] == 'B' :
        nt.at[i,'Balance'] = ((nt.at[i,'Qty']) + prevBal)
        prevBal = ((nt.at[i,'Qty']) + prevBal)
    else :
        nt.at[i,'Balance'] = ((nt.at[i,'Qty'] * -1) + prevBal)
        prevBal = ((nt.at[i,'Qty'] * -1) + prevBal)
                              
    
nt

,Tindex,Start,Time,Symb,Side,Price,Qty,Balance,Account,P / L,Sum,Duration,Name
0,,,09:43:10,MU,B,50.99,400,400,TRIB5621,0.00,,,
24,,,09:44:32,MU,S,50.85,400,0,TRIB5621,-56.00,,,
15,,,10:14:49,MU,B,50.44,500,500,TRIB5621,0.00,,,
8,,,10:18:36,MU,S,50.34,500,0,TRIB5621,-50.00,,,
2,,,11:12:58,MU,B,50.86,500,500,TRIB5621,0.00,,,
25,,,11:21:36,MU,S,50.99,125,375,TRIB5621,16.25,,,
13,,,11:33:42,MU,S,51.10,187,188,TRIB5621,44.88,,,
7,,,11:39:27,MU,S,50.93,188,0,TRIB5621,13.16,,,
6,,,09:35:32,SQ,B,74.50,325,325,TRIB5621,0.00,,,
3,,,09:35:42,SQ,S,74.72,81,244,TRIB5621,17.82,,,
1,,,09:36:04,SQ,S,74.60,244,0,TRIB5621,24.40,,,
28,,,09:37:05,SQ,B,74.66,300,300,TRIB5621,0.00,,,
26,,,09:37:36,SQ,S,74.77,75,225,TRIB5621,8.25,,,
22,,,09:38:45,SQ,S,74.55,225,0,TRIB5621,-24.75,,,
23,,,09:45:07,SQ,SS,74.45,500,-500,TRIB5621,0.00,,,
21,,,09:45:48,SQ,SS,74.26,125,-625,TRIB5621,0.00,,,
14,,,09:46:46,SQ,B,74.30,625,0,TRIB5621,70.00,,,
18,,,10:03:51,SQ,B,74.23,200,200,TRIB5621,0.00,,,
19,,,10:03:51,SQ,B,74.23,200,400,TRIB5621,0.00,,,
16,,,10:04:28,SQ,B,74.04,200,600,TRIB5621,0.00,,,
17,,,10:04:28,SQ,B,74.04,200,800,TRIB5621,0.00,,,
9,,,10:06:04,SQ,S,74.08,400,400,TRIB5621,-22.00,,,
27,,,10:10:54,SQ,S,74.14,400,0,TRIB5621,2.00,,,
11,,,10:34:58,SQ,B,74.72,500,500,TRIB5621,0.00,,,
12,,,10:57:57,SQ,B,74.39,500,1000,TRIB5621,0.00,,,
4,,,11:08:10,SQ,S,74.56,500,500,TRIB5621,2.50,,,
20,,,11:28:42,SQ,S,74.64,500,0,TRIB5621,42.50,,,
5,,,09:48:47,THST,B,2.88,300,300,TRIB5621,0.00,,,
29,,,09:50:25,THST,S,3.02,75,225,TRIB5621,10.50,,,
10,,,09:54:56,THST,SS,2.77,225,0,TRIB5621,-24.75,,,

In [10]:
nt.head(2)

,Tindex,Start,Time,Symb,Side,Price,Qty,Balance,Account,P / L,Sum,Duration,Name
0,,,09:43:10,MU,B,50.99,400,400,TRIB5621,0.0,,,
24,,,09:44:32,MU,S,50.85,400,0,TRIB5621,-56.0,,,

In [11]:
newTrade = True
for i, row in nt.iterrows():
    if newTrade :
        nt.at[i,'Start'] = row['Time']
        newTrade = False
        oldTime = row['Time']
    else :
        nt.at[i, 'Start'] = oldTime
    if row['Balance'] == 0 :
        newTrade = True

nt = nt.sort_values(['Start', 'Time'])
nt

,Tindex,Start,Time,Symb,Side,Price,Qty,Balance,Account,P / L,Sum,Duration,Name
6,,09:35:32,09:35:32,SQ,B,74.50,325,325,TRIB5621,0.00,,,
3,,09:35:32,09:35:42,SQ,S,74.72,81,244,TRIB5621,17.82,,,
1,,09:35:32,09:36:04,SQ,S,74.60,244,0,TRIB5621,24.40,,,
28,,09:37:05,09:37:05,SQ,B,74.66,300,300,TRIB5621,0.00,,,
26,,09:37:05,09:37:36,SQ,S,74.77,75,225,TRIB5621,8.25,,,
22,,09:37:05,09:38:45,SQ,S,74.55,225,0,TRIB5621,-24.75,,,
0,,09:43:10,09:43:10,MU,B,50.99,400,400,TRIB5621,0.00,,,
24,,09:43:10,09:44:32,MU,S,50.85,400,0,TRIB5621,-56.00,,,
23,,09:45:07,09:45:07,SQ,SS,74.45,500,-500,TRIB5621,0.00,,,
21,,09:45:07,09:45:48,SQ,SS,74.26,125,-625,TRIB5621,0.00,,,
14,,09:45:07,09:46:46,SQ,B,74.30,625,0,TRIB5621,70.00,,,
5,,09:48:47,09:48:47,THST,B,2.88,300,300,TRIB5621,0.00,,,
29,,09:48:47,09:50:25,THST,S,3.02,75,225,TRIB5621,10.50,,,
10,,09:48:47,09:54:56,THST,SS,2.77,225,0,TRIB5621,-24.75,,,
18,,10:03:51,10:03:51,SQ,B,74.23,200,200,TRIB5621,0.00,,,
19,,10:03:51,10:03:51,SQ,B,74.23,200,400,TRIB5621,0.00,,,
16,,10:03:51,10:04:28,SQ,B,74.04,200,600,TRIB5621,0.00,,,
17,,10:03:51,10:04:28,SQ,B,74.04,200,800,TRIB5621,0.00,,,
9,,10:03:51,10:06:04,SQ,S,74.08,400,400,TRIB5621,-22.00,,,
27,,10:03:51,10:10:54,SQ,S,74.14,400,0,TRIB5621,2.00,,,
15,,10:14:49,10:14:49,MU,B,50.44,500,500,TRIB5621,0.00,,,
8,,10:14:49,10:18:36,MU,S,50.34,500,0,TRIB5621,-50.00,,,
11,,10:34:58,10:34:58,SQ,B,74.72,500,500,TRIB5621,0.00,,,
12,,10:34:58,10:57:57,SQ,B,74.39,500,1000,TRIB5621,0.00,,,
4,,10:34:58,11:08:10,SQ,S,74.56,500,500,TRIB5621,2.50,,,
20,,10:34:58,11:28:42,SQ,S,74.64,500,0,TRIB5621,42.50,,,
2,,11:12:58,11:12:58,MU,B,50.86,500,500,TRIB5621,0.00,,,
25,,11:12:58,11:21:36,MU,S,50.99,125,375,TRIB5621,16.25,,,
13,,11:12:58,11:33:42,MU,S,51.10,187,188,TRIB5621,44.88,,,
7,,11:12:58,11:39:27,MU,S,50.93,188,0,TRIB5621,13.16,,,

In [12]:
nt.head()

,Tindex,Start,Time,Symb,Side,Price,Qty,Balance,Account,P / L,Sum,Duration,Name
6,,09:35:32,09:35:32,SQ,B,74.50,325,325,TRIB5621,0.00,,,
3,,09:35:32,09:35:42,SQ,S,74.72,81,244,TRIB5621,17.82,,,
1,,09:35:32,09:36:04,SQ,S,74.60,244,0,TRIB5621,24.40,,,
28,,09:37:05,09:37:05,SQ,B,74.66,300,300,TRIB5621,0.00,,,
26,,09:37:05,09:37:36,SQ,S,74.77,75,225,TRIB5621,8.25,,,

In [13]:
TCount = 1
prevEndTrade = -1
for i, row in nt.iterrows():
    trade = "Trade " + str(TCount)
    if prevEndTrade == 0 :
        TCount = TCount + 1
        prevEndTrade = -1
    trade = "Trade " + str(TCount)
    nt.at[i,'Tindex'] = trade 
    if row['Balance'] == 0 :
        prevEndTrade = 0
nt.head()

,Tindex,Start,Time,Symb,Side,Price,Qty,Balance,Account,P / L,Sum,Duration,Name
6,Trade 1,09:35:32,09:35:32,SQ,B,74.50,325,325,TRIB5621,0.00,,,
3,Trade 1,09:35:32,09:35:42,SQ,S,74.72,81,244,TRIB5621,17.82,,,
1,Trade 1,09:35:32,09:36:04,SQ,S,74.60,244,0,TRIB5621,24.40,,,
28,Trade 2,09:37:05,09:37:05,SQ,B,74.66,300,300,TRIB5621,0.00,,,
26,Trade 2,09:37:05,09:37:36,SQ,S,74.77,75,225,TRIB5621,8.25,,,

In [14]:
tradeTotal = 0.0
for i, row in nt.iterrows():
    if row['Balance'] != 0 :
        tradeTotal = tradeTotal + row['P / L']
    else :
        sumtotal = tradeTotal + row['P / L']
        nt.at[i, 'Sum'] = sumtotal
        tradeTotal = 0
nt.head()

,Tindex,Start,Time,Symb,Side,Price,Qty,Balance,Account,P / L,Sum,Duration,Name
6,Trade 1,09:35:32,09:35:32,SQ,B,74.50,325,325,TRIB5621,0.00,,,
3,Trade 1,09:35:32,09:35:42,SQ,S,74.72,81,244,TRIB5621,17.82,,,
1,Trade 1,09:35:32,09:36:04,SQ,S,74.60,244,0,TRIB5621,24.40,42.22,,
28,Trade 2,09:37:05,09:37:05,SQ,B,74.66,300,300,TRIB5621,0.00,,,
26,Trade 2,09:37:05,09:37:36,SQ,S,74.77,75,225,TRIB5621,8.25,,,

In [15]:
import datetime

In [16]:
tradeTotal = 0.0
for i, row in nt.iterrows():
    if row['Balance'] == 0 :
        timeEnd = row['Time']
        timeStart = row['Start']
        end=timeEnd.split(":")
        start=timeStart.split(":")
        diff = datetime.datetime(1,1,1,int(end[0]), int(end[1]), int(end[2])) - datetime.datetime(1,1,1,int(start[0]), int(start[1]), int(start[2]))
        nt.at[i,'Duration'] = diff
nt.head()

,Tindex,Start,Time,Symb,Side,Price,Qty,Balance,Account,P / L,Sum,Duration,Name
6,Trade 1,09:35:32,09:35:32,SQ,B,74.50,325,325,TRIB5621,0.00,,,
3,Trade 1,09:35:32,09:35:42,SQ,S,74.72,81,244,TRIB5621,17.82,,,
1,Trade 1,09:35:32,09:36:04,SQ,S,74.60,244,0,TRIB5621,24.40,42.22,0:00:32,
28,Trade 2,09:37:05,09:37:05,SQ,B,74.66,300,300,TRIB5621,0.00,,,
26,Trade 2,09:37:05,09:37:36,SQ,S,74.77,75,225,TRIB5621,8.25,,,

In [17]:
for i, row in nt.iterrows():
    longShort = " Long"
    if row['Balance'] == 0 :
        if row['Side'] == 'B' :
            longShort = " Short"
        nt.at[i, 'Name'] = row['Symb'] + longShort
nt.head()

,Tindex,Start,Time,Symb,Side,Price,Qty,Balance,Account,P / L,Sum,Duration,Name
6,Trade 1,09:35:32,09:35:32,SQ,B,74.50,325,325,TRIB5621,0.00,,,
3,Trade 1,09:35:32,09:35:42,SQ,S,74.72,81,244,TRIB5621,17.82,,,
1,Trade 1,09:35:32,09:36:04,SQ,S,74.60,244,0,TRIB5621,24.40,42.22,0:00:32,SQ Long
28,Trade 2,09:37:05,09:37:05,SQ,B,74.66,300,300,TRIB5621,0.00,,,
26,Trade 2,09:37:05,09:37:36,SQ,S,74.77,75,225,TRIB5621,8.25,,,

In [18]:
# Temporary place to save and use this chart
# nt.to_csv("Trades.Wednesday.csv")

In [19]:
def addRows(dframe, numCol) :
    ll=list()
    r=list()
    for i in range(len(dframe.columns)) :
        r.append('')
        
    for i in range(numCol) :
        ll.append(r)
    newdf= pd.DataFrame(ll, columns=dframe.columns)
    
    try :
        assert(len(ll[0]) == len(dframe.columns))
    except AssertionError as ex :
        print("Coding error. Assertion is untrue:", ex)
        newdf="Data Frame is not initialized"
        return newdf
    
    dframe = dframe.append(newdf, ignore_index=True)
    
    return dframe

In [20]:
nt=addRows(nt,1)
nt.tail(10)

,Tindex,Start,Time,Symb,Side,Price,Qty,Balance,Account,P / L,Sum,Duration,Name
21,Trade 7,10:14:49,10:18:36,MU,S,50.34,500,0,TRIB5621,-50,-50,0:03:47,MU Long
22,Trade 8,10:34:58,10:34:58,SQ,B,74.72,500,500,TRIB5621,0,,,
23,Trade 8,10:34:58,10:57:57,SQ,B,74.39,500,1000,TRIB5621,0,,,
24,Trade 8,10:34:58,11:08:10,SQ,S,74.56,500,500,TRIB5621,2.5,,,
25,Trade 8,10:34:58,11:28:42,SQ,S,74.64,500,0,TRIB5621,42.5,45,0:53:44,SQ Long
26,Trade 9,11:12:58,11:12:58,MU,B,50.86,500,500,TRIB5621,0,,,
27,Trade 9,11:12:58,11:21:36,MU,S,50.99,125,375,TRIB5621,16.25,,,
28,Trade 9,11:12:58,11:33:42,MU,S,51.1,187,188,TRIB5621,44.88,,,
29,Trade 9,11:12:58,11:39:27,MU,S,50.93,188,0,TRIB5621,13.16,74.29,0:26:29,MU Long
30,,,,,,,,,,,,,

### This will blow up from wrong types if there is some kind of anomaly. The blank rows in Sum col are str and the filled rows are float. Don't fix it until it blows up. (or you need change this 'now' to production code for some reason) That way we have some case to fix.
### Also need to fix below if the lastCol for Balance > 0 instead of what's there

In [21]:
count=0
tot=0.0
tot2 = 0.0
for i, row in nt.iterrows():
    count=count+1
    if count < len(nt) :
        tot=tot+row['P / L']
        if row['Balance'] == 0 :
            assert(type(row['Sum']) == type(1.1))
            tot2 = tot2 + row['Sum']
        if count == len(nt) -1 :
            lastCol = row['P / L']
            assert(type(lastCol) == type(1.1))
            print("Last col?", row['P / L'])
#         print(count, ": ", tot, tot2)
    else :
        nt.at[i, 'P / L'] = tot
        nt.at[i, 'Sum'] = tot2
#         print("Grand total: ", tot, tot2)

# if(tot != tot2) or lastCol > 0:

if lastCol > 0:

    print('''
    I believe you either closed an overnight trade or you 
    began or changed a previous trade.  Your on your own to 
    fix that. I am going to blithly continue as if nothing 
    happened :)
    ''')
nt.tail()

Last col? 13.16

    I believe you either closed an overnight trade or you
    began or changed a previous trade.  Your on your own to
    fix that. I am going to blithly continue as if nothing
    happened :)

,Tindex,Start,Time,Symb,Side,Price,Qty,Balance,Account,P / L,Sum,Duration,Name
26,Trade 9,11:12:58,11:12:58,MU,B,50.86,500,500,TRIB5621,0,,,
27,Trade 9,11:12:58,11:21:36,MU,S,50.99,125,375,TRIB5621,16.25,,,
28,Trade 9,11:12:58,11:33:42,MU,S,51.1,187,188,TRIB5621,44.88,,,
29,Trade 9,11:12:58,11:39:27,MU,S,50.93,188,0,TRIB5621,13.16,74.29,0:26:29,MU Long
30,,,,,,,,,,74.76,74.76,,

In [22]:
ll=list()
r=list()
for i in range(len(nt.columns)) :
    r.append('')

ll.append(r)
ll.append(r)
ll

[['', '', '', '', '', '', '', '', '', '', '', '', ''],
 ['', '', '', '', '', '', '', '', '', '', '', '', '']]

In [23]:
# len(nt.columns)
# l=list(('','','','','','','','','','','','',''))
# ll=list()
# ll.append(l)
# for i in range (19) :
#     ll.append(l)
# nnt = pd.DataFrame(ll, columns=nt.columns)
# nt.append(nnt,ignore_index=True)

In [24]:
ldf = list()
count=0
tot=0.0
tot2 = 0.0
tempdf = pd.DataFrame()
for i, row in nt.iterrows():
    count=count+1
    if count < len(nt) :
        tot=tot+row['P / L']
        if row['Balance'] == 0 :
            assert(type(row['Sum']) == type(1.1))
            tot2 = tot2 + row['Sum']
        if count == len(nt) -1 :
            lastCol = row['P / L']
            assert(type(lastCol) == type(1.1))
            print("Last col?", row['P / L'])
#         print(count, ": ", tot, tot2)
    else :
        nt.at[i, 'P / L'] = tot
        nt.at[i, 'Sum'] = tot2
#         print("Grand total: ", tot, tot2)

# if(tot != tot2) or lastCol > 0:

if lastCol > 0:

    print('''
    I believe you either closed an overnight trade or you 
    began or changed a previous trade.  Your on your own to 
    fix that. I am going to blithly continue as if nothing 
    happened :)
    ''')
nt.tail()

Last col? 13.16

    I believe you either closed an overnight trade or you
    began or changed a previous trade.  Your on your own to
    fix that. I am going to blithly continue as if nothing
    happened :)

,Tindex,Start,Time,Symb,Side,Price,Qty,Balance,Account,P / L,Sum,Duration,Name
26,Trade 9,11:12:58,11:12:58,MU,B,50.86,500,500,TRIB5621,0,,,
27,Trade 9,11:12:58,11:21:36,MU,S,50.99,125,375,TRIB5621,16.25,,,
28,Trade 9,11:12:58,11:33:42,MU,S,51.1,187,188,TRIB5621,44.88,,,
29,Trade 9,11:12:58,11:39:27,MU,S,50.93,188,0,TRIB5621,13.16,74.29,0:26:29,MU Long
30,,,,,,,,,,74.76,74.76,,

In [25]:
ldf = list()
count = 1
while True :
    tradeStr = "Trade " + str(count)
    count = count + 1
    tdf = nt[nt.Tindex == tradeStr]
    if len(tdf) > 0 :
        ldf.append(tdf)
    else :
        break
len(ldf)

9

In [26]:
nt = addRows(nt, 2)
nt.tail()

,Tindex,Start,Time,Symb,Side,Price,Qty,Balance,Account,P / L,Sum,Duration,Name
28,Trade 9,11:12:58,11:33:42,MU,S,51.1,187,188,TRIB5621,44.88,,,
29,Trade 9,11:12:58,11:39:27,MU,S,50.93,188,0,TRIB5621,13.16,74.29,0:26:29,MU Long
30,,,,,,,,,,74.76,74.76,,
31,,,,,,,,,,,,,
32,,,,,,,,,,,,,

In [27]:
for tdf in ldf :
    nt = nt.append(tdf, ignore_index = True)
    nt = addRows(nt, 20)
    print(count, ": ", len(nt))

11 :  56
11 :  79
11 :  101
11 :  124
11 :  147
11 :  173
11 :  195
11 :  219
11 :  243

In [28]:
name=datetime.date.today().strftime("Trades_%A_%m%d.csv")
nt.to_csv(name)

In [29]:
nt

,Tindex,Start,Time,Symb,Side,Price,Qty,Balance,Account,P / L,Sum,Duration,Name
0,Trade 1,09:35:32,09:35:32,SQ,B,74.5,325,325,TRIB5621,0,,,
1,Trade 1,09:35:32,09:35:42,SQ,S,74.72,81,244,TRIB5621,17.82,,,
2,Trade 1,09:35:32,09:36:04,SQ,S,74.6,244,0,TRIB5621,24.4,42.22,0:00:32,SQ Long
3,Trade 2,09:37:05,09:37:05,SQ,B,74.66,300,300,TRIB5621,0,,,
4,Trade 2,09:37:05,09:37:36,SQ,S,74.77,75,225,TRIB5621,8.25,,,
5,Trade 2,09:37:05,09:38:45,SQ,S,74.55,225,0,TRIB5621,-24.75,-16.5,0:01:40,SQ Long
6,Trade 3,09:43:10,09:43:10,MU,B,50.99,400,400,TRIB5621,0,,,
7,Trade 3,09:43:10,09:44:32,MU,S,50.85,400,0,TRIB5621,-56,-56,0:01:22,MU Long
8,Trade 4,09:45:07,09:45:07,SQ,SS,74.45,500,-500,TRIB5621,0,,,
9,Trade 4,09:45:07,09:45:48,SQ,SS,74.26,125,-625,TRIB5621,0,,,
10,Trade 4,09:45:07,09:46:46,SQ,B,74.3,625,0,TRIB5621,70,70,0:01:39,SQ Short
11,Trade 5,09:48:47,09:48:47,THST,B,2.88,300,300,TRIB5621,0,,,
12,Trade 5,09:48:47,09:50:25,THST,S,3.02,75,225,TRIB5621,10.5,,,
13,Trade 5,09:48:47,09:54:56,THST,SS,2.77,225,0,TRIB5621,-24.75,-14.25,0:06:09,THST Long
14,Trade 6,10:03:51,10:03:51,SQ,B,74.23,200,200,TRIB5621,0,,,
15,Trade 6,10:03:51,10:03:51,SQ,B,74.23,200,400,TRIB5621,0,,,
16,Trade 6,10:03:51,10:04:28,SQ,B,74.04,200,600,TRIB5621,0,,,
17,Trade 6,10:03:51,10:04:28,SQ,B,74.04,200,800,TRIB5621,0,,,
18,Trade 6,10:03:51,10:06:04,SQ,S,74.08,400,400,TRIB5621,-22,,,
19,Trade 6,10:03:51,10:10:54,SQ,S,74.14,400,0,TRIB5621,2,-20,0:07:03,SQ Long
20,Trade 7,10:14:49,10:14:49,MU,B,50.44,500,500,TRIB5621,0,,,
21,Trade 7,10:14:49,10:18:36,MU,S,50.34,500,0,TRIB5621,-50,-50,0:03:47,MU Long
22,Trade 8,10:34:58,10:34:58,SQ,B,74.72,500,500,TRIB5621,0,,,
23,Trade 8,10:34:58,10:57:57,SQ,B,74.39,500,1000,TRIB5621,0,,,
24,Trade 8,10:34:58,11:08:10,SQ,S,74.56,500,500,TRIB5621,2.5,,,
25,Trade 8,10:34:58,11:28:42,SQ,S,74.64,500,0,TRIB5621,42.5,45,0:53:44,SQ Long
26,Trade 9,11:12:58,11:12:58,MU,B,50.86,500,500,TRIB5621,0,,,
27,Trade 9,11:12:58,11:21:36,MU,S,50.99,125,375,TRIB5621,16.25,,,
28,Trade 9,11:12:58,11:33:42,MU,S,51.1,187,188,TRIB5621,44.88,,,
29,Trade 9,11:12:58,11:39:27,MU,S,50.93,188,0,TRIB5621,13.16,74.29,0:26:29,MU Long
...,...,...,...,...,...,...,...,...,...,...,...,...,...
213,,,,,,,,,,,,,
214,,,,,,,,,,,,,
215,,,,,,,,,,,,,
216,,,,,,,,,,,,,
217,,,,,,,,,,,,,
218,,,,,,,,,,,,,
219,Trade 9,11:12:58,11:12:58,MU,B,50.86,500,500,TRIB5621,0,,,
220,Trade 9,11:12:58,11:21:36,MU,S,50.99,125,375,TRIB5621,16.25,,,
221,Trade 9,11:12:58,11:33:42,MU,S,51.1,187,188,TRIB5621,44.88,,,
222,Trade 9,11:12:58,11:39:27,MU,S,50.93,188,0,TRIB5621,13.16,74.29,0:26:29,MU Long
223,,,,,,,,,,,,,
224,,,,,,,,,,,,,
225,,,,,,,,,,,,,
226,,,,,,,,,,,,,
227,,,,,,,,,,,,,
228,,,,,,,,,,,,,
229,,,,,,,,,,,,,
230,,,,,,,,,,,,,
231,,,,,,,,,,,,,
232,,,,,,,,,,,,,
233,,,,,,,,,,,,,
234,,,,,,,,,,,,,
235,,,,,,,,,,,,,
236,,,,,,,,,,,,,
237,,,,,,,,,,,,,
238,,,,,,,,,,,,,
239,,,,,,,,,,,,,
240,,,,,,,,,,,,,
241,,,,,,,,,,,,,
242,,,,,,,,,,,,,

In [43]:
nt

,Tindex,Start,Time,Symb,Side,Price,Qty,Balance,Account,P / L,Sum,Duration,Name
6,Trade 1,09:35:32,09:35:32,SQ,B,74.50,325,325,TRIB5621,0.00,,,
3,Trade 1,09:35:32,09:35:42,SQ,S,74.72,81,244,TRIB5621,17.82,,,
1,Trade 1,09:35:32,09:36:04,SQ,S,74.60,244,0,TRIB5621,24.40,42.22,0:00:32,SQ Long
28,Trade 2,09:37:05,09:37:05,SQ,B,74.66,300,300,TRIB5621,0.00,,,
26,Trade 2,09:37:05,09:37:36,SQ,S,74.77,75,225,TRIB5621,8.25,,,
22,Trade 2,09:37:05,09:38:45,SQ,S,74.55,225,0,TRIB5621,-24.75,-16.5,0:01:40,SQ Long
0,Trade 3,09:43:10,09:43:10,MU,B,50.99,400,400,TRIB5621,0.00,,,
24,Trade 3,09:43:10,09:44:32,MU,S,50.85,400,0,TRIB5621,-56.00,-56,0:01:22,MU Long
23,Trade 4,09:45:07,09:45:07,SQ,SS,74.45,500,-500,TRIB5621,0.00,,,
21,Trade 4,09:45:07,09:45:48,SQ,SS,74.26,125,-625,TRIB5621,0.00,,,
14,Trade 4,09:45:07,09:46:46,SQ,B,74.30,625,0,TRIB5621,70.00,70,0:01:39,SQ Short
5,Trade 5,09:48:47,09:48:47,THST,B,2.88,300,300,TRIB5621,0.00,,,
29,Trade 5,09:48:47,09:50:25,THST,S,3.02,75,225,TRIB5621,10.50,,,
10,Trade 5,09:48:47,09:54:56,THST,SS,2.77,225,0,TRIB5621,-24.75,-14.25,0:06:09,THST Long
18,Trade 6,10:03:51,10:03:51,SQ,B,74.23,200,200,TRIB5621,0.00,,,
19,Trade 6,10:03:51,10:03:51,SQ,B,74.23,200,400,TRIB5621,0.00,,,
16,Trade 6,10:03:51,10:04:28,SQ,B,74.04,200,600,TRIB5621,0.00,,,
17,Trade 6,10:03:51,10:04:28,SQ,B,74.04,200,800,TRIB5621,0.00,,,
9,Trade 6,10:03:51,10:06:04,SQ,S,74.08,400,400,TRIB5621,-22.00,,,
27,Trade 6,10:03:51,10:10:54,SQ,S,74.14,400,0,TRIB5621,2.00,-20,0:07:03,SQ Long
15,Trade 7,10:14:49,10:14:49,MU,B,50.44,500,500,TRIB5621,0.00,,,
8,Trade 7,10:14:49,10:18:36,MU,S,50.34,500,0,TRIB5621,-50.00,-50,0:03:47,MU Long
11,Trade 8,10:34:58,10:34:58,SQ,B,74.72,500,500,TRIB5621,0.00,,,
12,Trade 8,10:34:58,10:57:57,SQ,B,74.39,500,1000,TRIB5621,0.00,,,
4,Trade 8,10:34:58,11:08:10,SQ,S,74.56,500,500,TRIB5621,2.50,,,
20,Trade 8,10:34:58,11:28:42,SQ,S,74.64,500,0,TRIB5621,42.50,45,0:53:44,SQ Long
2,Trade 9,11:12:58,11:12:58,MU,B,50.86,500,500,TRIB5621,0.00,,,
25,Trade 9,11:12:58,11:21:36,MU,S,50.99,125,375,TRIB5621,16.25,,,
13,Trade 9,11:12:58,11:33:42,MU,S,51.10,187,188,TRIB5621,44.88,,,
7,Trade 9,11:12:58,11:39:27,MU,S,50.93,188,0,TRIB5621,13.16,74.29,0:26:29,MU Long